{{cprTrace "START DIALOG CPR-ROLE-ABILITY-PROMPT.HBS"}}
<form class="dialog-sheet">
   <div class="dialog-header flexcol">
    <div class="text-normal text-center">
      {{localize "CPR.dialog.createEditRoleAbility.header"}}
    </div>
  </div>
  <hr/>
  <div class="dialog-grid flexcol">
    <ol class="dialog-list">
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap"
            data-tooltip="{{localize "CPR.tooltip.nameChangeWarning"}}">
          <span class="text-semi">{{localize "CPR.dialog.createEditRoleAbility.roleAbilityName"}}
            <i class="text-smallest text-super fa-solid fa-triangle-exclamation"></i>
          </span>
        </div>
        <div class="dialog-item-input text-nowrap">
          <input class="text-right" name="name" type="text" value="{{name}}" />
        </div>
      </li>
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap">
          <span class="text-semi">{{localize "CPR.dialog.createEditRoleAbility.roleAbilityRank"}}</span>
        </div>
        <div class="dialog-item-input text-nowrap">
          <input class="text-right" name="rank" type="number" value="{{rank}}" />
        </div>
      </li>
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap">
          <span class="text-semi">{{localize "CPR.dialog.createEditRoleAbility.multiplier"}}</span>
        </div>
        <div class="dialog-item-input text-nowrap">
          <select name="multiplier">
            {{#select multiplier}}
            <option value="--">
              {{localize "CPR.global.generic.notApplicable"}}
            </option>
            {{#each multiplierOptions }}
              <option value="{{.}}">
                {{.}}
              </option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </li>
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap">
          <span class="text-semi">{{localize "CPR.global.generic.stat"}}</span>
        </div>
        <div class="dialog-item-input text-nowrap">
          <select name="stat">
            {{#select stat}}
              <optgroup label="{{localize "CPR.dialog.createEditRoleAbility.specialOptions"}}">
                {{#each (cprFindConfigObj "roleSpecialOptions") as |option o| }}
                  {{#if (cprCompare o "!==" "varying") }}
                    <option value="{{o}}">
                      {{localize option}}
                    </option>
                  {{/if}}
                {{/each}}
              </optgroup>
              <optgroup label="{{localize "CPR.dialog.createEditRoleAbility.statList"}}">
                {{#each (cprFindConfigObj "statList") as |stat s| }}
                  <option value="{{s}}">
                    {{localize stat}}
                  </option>
                {{/each}}
              </optgroup>
            {{/select}}
          </select>
        </div>
      </li>
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap">
          <span class="text-semi">{{localize "CPR.dialog.createEditRoleAbility.skill"}}</span>
        </div>
        <div class="dialog-item-input text-nowrap">
          <select name="skill">
            {{#select skill}}
            <optgroup label="{{localize "CPR.dialog.createEditRoleAbility.specialOptions"}}">
              {{#each (cprFindConfigObj "roleSpecialOptions") as |option o| }}
                <option value="{{o}}">
                  {{localize option}}
                </option>
              {{/each}}
            </optgroup>
            <optgroup label="{{localize "CPR.dialog.createEditRoleAbility.skillList"}}">
              {{#each (cprSortCoreSkills skillOptions) as |option| }}
                <option value="{{option.name}}">
                  {{localize (cprGetLocalizedlNameKey option.name "skill")}}
                </option>
              {{/each}}
            </optgroup>
          {{/select}}
        </select>
      </div>
      </li>
      <li class="dialog-item flexrow">
        <div class="dialog-item-name text-nowrap">
          <span class="text-semi">{{localize "CPR.dialog.createEditRoleAbility.hasRoll"}}</span>
        </div>
        <div class="dialog-item-input text-nowrap">
          <input class="item-checkbox text-right" name="hasRoll" data-target="hasRoll" type="checkbox" value="{{hasRoll}}" {{checked hasRoll}}/>
        </div>
      </li>
    </ol>
  </div>
  {{> "systems/cyberpunk-red-core/templates/dialog/cpr-dialog-buttons.hbs"}}
</form>
{{cprTrace "END CPR-ROLE-ABILITY-PROMPT.HBS"}}
